<body class="bg-black">
<img class="position-absolute ratio ratio-16x9 h-75 object-fit-cover"
     [srcset]="serieData.bannerVideo?.banner"
     alt="">
<section>
  <div class="position-absolute w-100">
    <div class="mx-md-2 mx-5 mx-lg-5">
      <div class="d-flex justify-content-between">
        <h1 class="pt-5 fw-bold fs-1 text-light">{{serieData?.title}}</h1>
        <div class="pt-5 d-flex">
          <button mat-icon-button color="warn" aria-label="Icon button with a heart icon">
            <mat-icon class="fs-2 mx-2">favorite</mat-icon>
          </button>
          <h1 class=" fw-bold fs-1 text-light "> 12 k</h1>
        </div>
      </div>
      <div class="py-3 fs-6 text-light mb-0 text-opacity-75 ">{{serieData?.synopsis}}
      </div>
      <div class="d-flex align-content-around w-25 flex-wrap">
        <button type="button" class="btn btn-light btn-sm h-75 m-3">
          <div class="d-flex align-items-center p-2">
            <p class="m-0 fw-bold">Play</p>
            <mat-icon class="m-0">play_circle_outline</mat-icon>
          </div>
        </button>
        <button type="button" class="btn btn-light btn-sm h-75 m-3" (click)="changedComponentName()">
          <div class="d-flex align-items-center p-2" [ngSwitch]="componentName">

            <p class="m-0 fw-bold" *ngSwitchCase="'related'">Support</p>
            <mat-icon *ngSwitchCase="'related'">stars</mat-icon>


            <p class="m-0 fw-bold" *ngSwitchCase="'support'">Related</p>
            <mat-icon *ngSwitchCase="'support'">theaters</mat-icon>

          </div>
        </button>
      </div>
      <div class="d-flex justify-content-between">
        <h3 class="pt-3 fw-bold fs-5 text-light mx-0 my-4">Category: {{serieData.category?.name}}</h3>
        <div class="pt-5 d-flex">
          <mat-icon class="fs-2 mx-2 text-secondary">star</mat-icon>
          <mat-icon class="fs-2 mx-2 text-secondary">star</mat-icon>
          <mat-icon class="fs-2 mx-2 text-secondary">star</mat-icon>
          <mat-icon class="fs-2 mx-2">star</mat-icon>
          <mat-icon class="fs-2 mx-2">star</mat-icon>
        </div>
      </div>
    </div>
    <div [ngSwitch]="componentName">
      <app-series-related *ngSwitchCase="'related'"></app-series-related>
      <app-support-serie *ngSwitchCase="'support'"></app-support-serie>
    </div>
  </div>
</section>
</body>
